name: Automerge

on:
  # Try merging pull requests belonging to a workflow run.
  workflow_run:
    workflows:
      - CI
    types:
      - completed

  # Try merging a pull request when it is approved.
  pull_request_review:
    types:
      - submitted

jobs:
  automerge:
    if: github.event.review.state == 'approved' || !github.event.review
    runs-on: ubuntu-latest
    steps:
      - uses: reitermarkus/automerge@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

